<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Movie Search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Movie Search</h1>
    <form action="#" th:action="@{/movies}" th:object="${movies}" method="post">
        <p>Genre: <input type="text" th:field="*{genre}" /></p>
        <p>Actor: <input type="text" th:field="*{actor}" /></p>
        <p>Year: <input type="number" th:field="*{year}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>

</html>